@font-face {
    font-family: "Geomanist-Regular";
    src: url("fonts/Geomanist-Regular.ttf")
}

@font-face {
    font-family: "GOTHIC";
    src: url("fonts/GOTHIC.ttf")
}

@font-face {
    font-family: "MTCORSVA";
    src: url("fonts/MTCORSVA.ttf")
}

/* ---------------------------------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    background: url("bg1.jpg");
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/* ---------------------------------------------------------------------------*/
#nav-title-table {
    width: 98%;
    color: rgba(255, 255, 255, 1);
    margin: 3% 1%;
    font-family: "MTCORSVA", "Aerial", "Geomanist-Regular", san-serif;
}

.title, .nav {
    padding: 10px 20px;
    border: 3px solid rgba(24, 24, 24, 1);
    border-radius: 10px;
    /* box-shadow: 0px 0px 20px 5px rgba(255, 33, 38, 0.8); */
    background: rgba(61, 61, 61, 1);
}

.title {
    width: 45%;
    font-size: 1.2vw;
}

.nav {
    width: 9%;
    text-align: center;
}

.nav.not-selected {
    color: rgba(168, 168, 168, 1);
    font-size: 1.2vw;
}

/* .nav.not-selected:hover {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    background: rgba(255, 33, 38, 0.8);
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
} */
.nav.selected {
    border-color: rgba(255, 255, 255, 1);
    font-size: 1.2vw;
    background: rgba(18, 18, 18, 1);
    /* box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.8); */
}

/* ---------------------------------------------------------------------------*/
#body-table {
    width: 100%;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    font-family: "MTCORSVA", "Aerial", "Geomanist-Regular", san-serif;
    font-size: 2vw;
}

#body-space-left, #body-space-right {
    width: 15%;
}

#main-td {
    background: rgba(54, 54, 54, 0.74);
    padding: 30px;
}

/* ---------------------------------------------------------------------------*/

#content-table {
    width: 100%;
}

#subtitle-td {
    text-align: center;
}

.subtitle-content-space {
    height: 40px;
}

.article-title-content-space {
    height: 30px;
}

.article-img-space {
    height: 30px;
}

.article-article-space {
    height: 30px;
}

.article {
    text-align: justify;
}

.font {
    font-family: "MTCORSVA", "Aerial", "Geomanist-Regular", san-serif;
}
