@font-face {
    font-family: "Geomanist-Regular";
    src: url("fonts/Geomanist-Regular.ttf")
}

@font-face {
    font-family: "GOTHIC";
    src: url("fonts/GOTHIC.ttf")
}

@font-face {
    font-family: "MTCORSVA";
    src: url("fonts/MTCORSVA.ttf")
}

/* ---------------------------------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

*:focus {
    outline: 2px dotted rgba(128, 128, 128, 0.3);
}

html, body {
    width: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/* ---------------------------------------------------------------------------*/
#nav-title-table {
    width: 98%;
    color: rgba(255, 255, 255, 1);
    margin: 3% 1%;
    font-family: "MTCORSVA", "Aerial", "Geomanist-Regular", san-serif;
}

.title, .nav {
    padding: 10px 20px;
    border: 3px solid rgba(24, 24, 24, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.9);
    background: rgba(61, 61, 61, 1);
}

.title {
    width: 25%;
    font-size: 1.2vw;
}

.nav {
    width: 14%;
    text-align: center;
}

.non-topic {
    width: 9%;
}

.nav.not-selected {
    color: rgba(168, 168, 168, 1);
    font-size: 1.4vw;
}

.nav.not-selected:hover {
    border-color: rgba(255, 255, 255, 05);
    background: rgba(18, 18, 18, 0.7);
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
}
.nav.selected {
    border-color: rgba(255, 255, 255, 1);
    font-size: 1.4vw;
    background: rgba(18, 18, 18, 1);
    /* box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.8); */
}

/* ---------------------------------------------------------------------------*/
#body-table {
    width: 100%;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    font-family: "MTCORSVA", "Aerial", "Geomanist-Regular", san-serif;
    font-size: 2vw;
    margin-bottom: 30px;
}

#body-space-left, #body-space-right {
    width: 5%;
}

#main-td {
    background: rgba(225,235,247, 0.7);
    padding: 30px;
}

/* ---------------------------------------------------------------------------*/

#content-table {
    width: 100%;
}

#subtitle-td {
    text-align: center;
}

.subtitle-content-space {
    height: 40px;
}

.article-title-content-space {
    height: 30px;
}

.article-img-space {
    height: 30px;
}

.article-article-space {
    height: 30px;
}

.article {
    text-align: justify;
}

.font {
    font-family: "MTCORSVA", "Aerial", "Geomanist-Regular", san-serif;
}
